<html lang="en">
  <head>
    <title>Mentorship</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <meta name="viewport" content="width=device-width" />

    <script src="https://use.fontawesome.com/eb20c96418.js"></script>

  </head>
  <body>

    <!-- Yellow Box -->
    <div class="grid yellow background">
      <div class="ui center aligned grid slide">
        <div class="sixteen wide column">
          <div class="ui centered fluid image" style="background-image: url('/assets/home_page_graphic_final-9f78efb25ce5cc76ff1f712aac7e8ab011b23e7ae9fc30eeb5400d2d8f9cefd4.png')">
          </div>
        </div>
      </div>
    </div>
    <!-- White Bar -->
    <div id="grid-float" class="hide ui center aligned grid">
      <div id="bar-position" class="computer tablet only row">
        <div class="twelve wide column">
          <div class="ui raised horizontal segments">
            <div class="ui wide segment">
              <%= image_tag("woman.png", :class => "ui left floated image" )%>
                <b>Mentors</b> over 50 different personal tutors from UPE, ACM, and TBP
            </div>
            <div class="ui wide segment">
               <%= image_tag("clipboard.png", :class => "ui left floated image" )%>
                 <b>Notes</b> personalized for you from past students. Over 30 classes available.
            </div>
            <div class="ui wide segment">
               <%= image_tag("video.png", :class => "ui left floated image" )%>
                 <b>Tutorials</b> from fellow students. Contribute and learn form one another through video lessons.
            </div>        
          </div>
        </div>
      </div>

      <div id="bar-position" class="mobile only narrow row">
        <div class="twelve wide column">
          <div class="ui raised segments">
            <div class="ui segment">
              <%= image_tag("woman.png", :class => "ui left floated image" )%>
                <b>Mentors</b> over 50 different personal tutors from UPE, ACM, and TBP
            </div>
            <div class="ui segment">
               <%= image_tag("clipboard.png", :class => "ui left floated image" )%>
                 <b>Notes</b> personalized for you from past students. Over 30 classes available.
            </div>
            <div class="ui segment">
               <%= image_tag("video.png", :class => "ui left floated image" )%>
                 <b>Tutorials</b> from fellow students. Contribute and learn form one another through video lessons.
            </div>        
          </div>
        </div>
      </div>
    </div>
 

    <!-- Notes Section !-->
    <div class="notes">
      <div class="ui padded grid, grid background">
        <div class="seven wide column centered notes-header">
          <div id="stacked-padding" class="mobile only"></div>
          <h1>Trending Notes</h1>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec malesuada, purus hendrerit fringilla auctor, dui ex
            congue turpis, a tempus dui neque non ante.
          </h4>
        </div>
      </div>
      <div class="ui padded centered relaxed grid, grid background">
        <div class="two wide column right aligned">
          <div class="button_wrapper">
            <button class="button prev-notes">
              <i class="huge icon chevron left"></i>
            </button>
          </div>
        </div>
        <div class="twelve wide column">
          <div class="note-cards">
            <% @sortednotes.first(9).each do |note| %>
            <div class="ui card note">
              <div class="image">
                <%= image_tag("CS32_final.png") %>
              </div>
              <div class="content">
                <div class="title">
                  <%= note.title %>
                </div>
                <div class="meta">
                  <span class="date"><%= note.author %></span>
                </div>
                <div class="description">
                  <a class="ui label">
                    Pointers
                  </a>
                  <a class="ui label">
                    Class Construction
                  </a>
                  <a class="ui label">
                    C++
                  </a>
                </div>
                <div class="extra content">
                  <%= link_to "OPEN", note.ufile.url,  target: :_blank, class: 'ui primary button' %>
                  <div class="value">
                    <div class="ui heart rating" data-rating="1" data-max-rating="1"></div><%= note.reputation %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div class="two wide column left aligned">
          <div class="button_wrapper">
            <button class="button next-notes">
              <i class="huge icon chevron right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Tutorials Section !-->
    <div class="tutorials">
      <div class="ui padded grid, grid background">
        <div class="seven wide column centered tutorials-header">
          <h1>Best Tutorials</h1>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec malesuada, purus hendrerit fringilla auctor, dui ex
            congue turpis, a tempus dui neque non ante.
          </h4>
        </div>
      </div>
      <div class="ui padded centered relaxed grid, grid background">
        <div class="two wide column right aligned">
          <div class="button_wrapper">
            <button class="button prev-tut">
              <i class="huge icon chevron left"></i>
            </button>
          </div>
        </div>
        <div class="twelve wide column">
          <div class="tutorial-cards">
            <div class="ui card tut">
              <div class="image">
                <%= image_tag("ctut.png") %>
              </div>
              <div class="content">
                <a class="header">C++ Tutorial</a>
                <div class="meta">
                  <span class="date">Austin Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <div class="value">
                    <i class="heart icon upvotes"></i>39
                  </div>
                </div>
              </div>
            </div>
            <div class="ui card tut">
              <div class="image">
                <%= image_tag("Python.png") %>
              </div>
              <div class="content">
                <a class="header">Python Tutorial</a>
                <div class="meta">
                  <span class="date">Helen Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <div class="value">
                    <i class="heart icon upvotes"></i>39
                  </div>
                </div>
              </div>
            </div>
            <div class="ui card tut">
              <div class="image">
                <%= image_tag("Python.png") %>
              </div>
              <div class="content">
                <a class="header">Python Tutorial</a>
                <div class="meta">
                  <span class="date">Charlotte McGinn</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <div class="value">
                    <i class="heart icon upvotes"></i>39
                  </div>
                </div>
              </div>
            </div>
            <div class="ui card tut">
              <div class="image">
                <%= image_tag("ctut.png") %>
              </div>
              <div class="content">
                <a class="header">C++ Tutorial</a>
                <div class="meta">
                  <span class="date">Austin Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <div class="value">
                    <i class="heart icon upvotes"></i>39
                  </div>
                </div>
              </div>
            </div>
            <div class="ui card tut">
              <div class="image">
                <%= image_tag("ctut.png") %>
              </div>
              <div class="content">
                <a class="header">C++ Tutorial</a>
                <div class="meta">
                  <span class="date">Austin Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <div class="value">
                    <i class="heart icon upvotes"></i>39
                  </div>
                </div>
              </div>
            </div>
            <div class="ui card tut">
              <div class="image">
                <%= image_tag("Python.png") %>
              </div>
              <div class="content">
                <a class="header">Python Tutorial</a>
                <div class="meta">
                  <span class="date">Austin Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <div class="value">
                    <i class="heart icon upvotes"></i>39
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="two wide column left aligned">
          <div class="button_wrapper">
            <button class="button next-tut">
              <i class="huge icon chevron right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- White Section -->
    <div class="thank-you">
      <div class="ui center aligned padded stackable grid thank-you">
        <div class="row">
          <div class="column">
            <a id="link"><i class="chevron up icon" style=" font-size: 48px;color: #999"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <h2>THANK YOU</h2>
          </div>
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <h3>for visiting us today</h3>
          </div>
        </div>
        <div class="row">
          <div class="five wide column">
            <h5>Support our Community</h5>
            <h6>Want to contribute to the platform as a tutor? We are always looking to recruit more individuals!</h6>
            <button class="ui button">SIGN UP NOW</button>
          </div>
          <div class="two wide column">
            <div class="ui vertical divider">or</div>
          </div>
          <div class="five wide column">
            <h5>Grow our Community</h5>
            <h6>Have class notes form past quarters? Submit them into our database, and help us grow our platform.</h6>
            <button class="ui button">SUBMIT</button>
          </div>
        </div>
       </div>
    </footer>

<div class="modal-container hide login-modal-container">
      <div class="modal login-modal">

        <div class="modal-header">
          <h4 class="title"><%= image_tag("icon-lock.svg", :class => "icon")%>&nbspLogin</h4>
          <p class="signup-link">Don't have an account?&nbsp<%= link_to "Sign up", new_registration_path(resource_name) %></p>
        </div>

        <div class="modal-field-content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'ui form' }) do |f| %>
            <div class="field">
              <%= f.email_field :email, autofocus: true, placeholder: "Email"%>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field, ui checkbox">
                <%= f.check_box :remember_me%>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="submit">
                <div class="actions">
                  <%= f.submit "Log in", class: 'ui button login-submit'%>
                </div>
                
              <% end %>
            </div>
            <p class="password-reset-link"><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
        </div>
      </div>
      <div class="overlay" onClick="hideModal('login')"></div>
    </div>

      </div>
  </body>
</html>
