<html>
  <head>
    <title>Mentorship</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <!-- Header -->
    <header>

    <!-- Navbar -->
      <div class="ui page grid">
        <div class="computer tablet only row">
            <div class="ui borderless fixed menu navbar">
                <a href="index.html"> <%= image_tag("Logo.png") %> </a>
                <div class="right menu">
                    <a href="" class="item">Mentors</a>
                    <a href="" class="item">Notes</a>
                    <a href="" class="item">Tutorials</a>
                    <a href="" class="item">Login / Sign Up</a>
                </div>
            </div>
        </div>
        <div class="mobile only narrow row">
            <div class="ui borderless fixed menu navbar">
                <div class="ui middle aligned image">
                  <a href="index.html"><%= image_tag("Pencil.png") %> </a>
                </div>
                <div class="right menu open">
                    <a href="" class="menu item">
                        <i id="chevron" class="chevron down icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui borderless vertical fixed navbar menu shadow">
                <div class="ui fitted divider"></div>
                <div class="menu">
                    <a href="" class="item">Mentors</a>
                    <a href="" class="item">Notes</a>
                    <a href="" class="item">Tutorials</a>
                    <a href="" class="item">Login / Sign Up</a>
                </div>
            </div>
        </div>
      </div>
    </header>
    <div id="yellowbg" class="ui center aligned padded grid, grid yellow background">
      <div class="sixteen wide column">
        <div class="ui centered image">
          <%= image_tag("bridge.png") %>
        </div>
      </div>
    </div>

    <!-- Notes Section !-->
    <div class="notes">
      <div class="ui padded grid, grid background">
        <div class="seven wide column centered notes-header">
          <h1>Trending Notes</h1>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec malesuada, purus hendrerit fringilla auctor, dui ex
            congue turpis, a tempus dui neque non ante.
          </h4>
        </div>
      </div>
      <div class="ui padded centered relaxed grid, grid background">
        <div class="two wide column right aligned">
          <div class="button_wrapper">
            <button class="circular ui icon button prev-notes">
              <i class="icon chevron left"></i>
            </button>
          </div>
        </div>
        <div class="twelve wide column">
          <div class="note-cards">
            <div class="ui card">
              <div class="image">
                <%= image_tag("CS32.png") %>
              </div>
              <div class="content">
                <a class="header">Midterm Study Guide</a>
                <div class="meta">
                  <span class="date">Austin Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <i class="heart icon upvotes"></i>152
                </div>
              </div>
            </div>
            <div class="ui card">
              <div class="image">
                <%= image_tag("CS32.png") %>
              </div>
              <div class="content">
                <a class="header">Week 1 Notes</a>
                <div class="meta">
                  <span class="date">Helen Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <i class="heart icon upvotes"></i>128
                </div>
              </div>
            </div>
            <div class="ui card">
              <div class="image">
                <%= image_tag("CS32.png") %>
              </div>
              <div class="content">
                <a class="header">Final Cheat Sheet</a>
                <div class="meta">
                  <span class="date">Charlotte McGinn</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <i class="heart icon upvotes"></i>100
                </div>
              </div>
            </div>
            <div class="ui card">
              <div class="image">
                <%= image_tag("CS32.png") %>
              </div>
              <div class="content">
                <a class="header">Midterm Study Guide</a>
                <div class="meta">
                  <span class="date">Austin Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <i class="heart icon upvotes"></i>79
                </div>
              </div>
            </div>
            <div class="ui card">
              <div class="image">
                <%= image_tag("CS32.png") %>
              </div>
              <div class="content">
                <a class="header">Midterm Study Guide</a>
                <div class="meta">
                  <span class="date">Austin Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <i class="heart icon upvotes"></i>50
                </div>
              </div>
            </div>
            <div class="ui card">
              <div class="image">
                <%= image_tag("CS32.png") %>
              </div>
              <div class="content">
                <a class="header">Midterm Study Guide</a>
                <div class="meta">
                  <span class="date">Austin Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <i class="heart icon upvotes"></i>34
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="two wide column left aligned">
          <div class="button_wrapper">
            <button class="circular ui icon button next-notes">
              <i class="icon chevron right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="tutorials">
      <div class="ui padded grid, grid background">
        <div class="seven wide column centered tutorials-header">
          <h1>Best Tutorials</h1>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec malesuada, purus hendrerit fringilla auctor, dui ex
            congue turpis, a tempus dui neque non ante.
          </h4>
        </div>
      </div>
      <div class="ui padded centered relaxed grid, grid background">
        <div class="two wide column right aligned">
          <div class="button_wrapper">
            <button class="circular ui icon button prev-tut">
              <i class="icon chevron left"></i>
            </button>
          </div>
        </div>
        <div class="twelve wide column">
          <div class="tutorial-cards">
            <div class="ui card">
              <div class="image">
                <%= image_tag("ctut.png") %>
              </div>
              <div class="content">
                <a class="header">C++ Tutorial</a>
                <div class="meta">
                  <span class="date">Austin Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <div class="ui statistic">
                    <div class="likes">
                      <div class="value">
                        150 <i class="big angle up icon uparrow"></i>|<i class="big angle down icon downarrow"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui card">
              <div class="image">
                <%= image_tag("Python.png") %>
              </div>
              <div class="content">
                <a class="header">Python Tutorial</a>
                <div class="meta">
                  <span class="date">Helen Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <div class="ui statistic">
                    <div class="likes">
                      <div class="value">
                        104 <i class="big angle up icon uparrow"></i>|<i class="big angle down icon downarrow"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui card">
              <div class="image">
                <%= image_tag("Python.png") %>
              </div>
              <div class="content">
                <a class="header">Python Tutorial</a>
                <div class="meta">
                  <span class="date">Charlotte McGinn</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <div class="ui statistic">
                    <div class="likes">
                      <div class="value">
                        98 <i class="big angle up icon uparrow"></i>|<i class="big angle down icon downarrow"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui card">
              <div class="image">
                <%= image_tag("ctut.png") %>
              </div>
              <div class="content">
                <a class="header">C++ Tutorial</a>
                <div class="meta">
                  <span class="date">Austin Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <div class="ui statistic">
                    <div class="likes">
                      <div class="value">
                        60 <i class="big angle up icon uparrow"></i>|<i class="big angle down icon downarrow"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui card">
              <div class="image">
                <%= image_tag("ctut.png") %>
              </div>
              <div class="content">
                <a class="header">C++ Tutorial</a>
                <div class="meta">
                  <span class="date">Austin Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <div class="ui statistic">
                    <div class="likes">
                      <div class="value">
                        56 <i class="big angle up icon uparrow"></i>|<i class="big angle down icon downarrow"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui card">
              <div class="image">
                <%= image_tag("Python.png") %>
              </div>
              <div class="content">
                <a class="header">Python Tutorial</a>
                <div class="meta">
                  <span class="date">Austin Lee</span>
                </div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, purus hendrerit fringilla auctor, dui ex congue turpis, a tempus dui neque non ante. Nulla facilisi.
                </div>
                <div class="extra content">
                  <div class="ui statistic">
                    <div class="likes">
                      <div class="value">
                        34 <i class="big angle up icon uparrow"></i>|<i class="big angle down icon downarrow"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="two wide column left aligned">
          <div class="button_wrapper">
            <button class="circular ui icon button next-tut">
              <i class="icon chevron right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
      $('.note-cards').slick({
    	  slidesToShow: 3,
        slidesToScroll: 3,
        infinite: false,
        arrows: true,
        prevArrow: $('.prev-notes'),
        nextArrow: $('.next-notes'),
        responsive: [
        {
          breakpoint: 1440,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
          }
        },
        {
          breakpoint: 1000,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 700,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
      });
      $('.tutorial-cards').slick({
    	  slidesToShow: 3,
        slidesToScroll: 3,
        infinite: false,
        arrows: true,
        prevArrow: $('.prev-tut'),
        nextArrow: $('.next-tut'),
        responsive: [
        {
          breakpoint: 1440,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
          }
        },
        {
          breakpoint: 1000,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 700,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
      });
    });
    </script>
  </body>
</html>
