<script type="text/javascript" charset="utf-8">
function addmsg(username, msgtime, body){
    $("#messages").append(
        "<div class=\"item\">" +
         "<div class=\"content\">" +
          "<div class=\"header\"><strong>" + username + "</strong>" + msgtime + "</div>" +
           "<div class=\"list\">" +
            "<div class=\"item\">" +
             "<i class=\"right triangle icon\"></i>" +
              body +
          "</div>" +
        "</div>" +
        "</div>" +
      "</div>"
    );
}

function waitForMsg(oLength){
    /* This requests the url "msgsrv.php"
    When it complete (or errors)*/
    let conId = <%= @conversation.id %>;

    $.ajax({
        type: "GET",
        url: "/api/v1/messages/" + conId,

        async: true, /* If set to non-async, browser shows page as "Loading.."*/
        cache: false,
        timeout:1000, /* Timeout in ms */

        success: function(data){ /* called when request to barge.php completes */
            if(oLength != data.messages.length)
            {
                oLength = data.messages.length;
                addmsg(data.messages[oLength - 1].user_id, data.messages[oLength-1].conversation_id, data.messages[oLength-1].body);
            }
        //    addmsg(username, msgtime, body); /* Add response to a .msg div (with the "new" class)*/
            setTimeout(
                waitForMsg(oLength), /* Request next message */
                1000 /* ..after 1 seconds */
            );
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            addmsg("error", textStatus + " (" + errorThrown + ")");
            setTimeout(
                waitForMsg(oLength), /* Try again after.. */
                1000); /* milliseconds (15seconds) */
        }
    });
};

$(document).ready(function(){
    waitForMsg(0); /* Start the inital request */
});
</script>


<% if @over_ten %>
 <%= link_to 'Show Previous', '?m=all' %>
<% end %>
<div class="ui segment" id="messages">
 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>
   <div class="item">
    <div class="content">
     <div class="header"><strong><%= user.username %></strong>     <%= message.message_time %></div>
      <div class="list">
       <div class="item">
        <i class="right triangle icon"></i>
         <%= message.body %>
      </div>
    </div>
   </div>
 </div>
 <% end %>
<% end %>
</div>
<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
 <div class="field">
   <%= f.text_area :body, class: "form-control" %>
 </div>
 <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
 <div>
   <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
 </div>
<% end %>
