<script type="text/javascript" charset="utf-8">
let users = {};
let initialLoad = true;

function addmsg(username, msgtime, body){
    $("#messages").append(
        "<div class=\"item\">" +
         "<div class=\"content\">" +
          "<div class=\"header\"><strong>" + username + " </strong>" + msgtime + "</div>" +
           "<div class=\"list\">" +
            "<div class=\"item\">" +
             "<i class=\"right triangle icon\"></i>" +
              body +
          "</div>" +
        "</div>" +
        "</div>" +
      "</div>"
    );
}

function initializeVars(){
    $.ajax({
        type: "GET",
        url: "/api/v1/user/",

        async: false,
        cache: false,
        timeout: 3000,

        success: function(data){
            users = data;
        },

        error: function(XMLHttpRequest, textStatus, errorThrown){

        }
    });
}

function waitForMsg(oLength){
    /* This requests the url "msgsrv.php"
    When it complete (or errors)*/
    let conId = <%= @conversation.id %>;

    $.ajax({
        type: "GET",
        url: "/api/v1/messages/" + conId,

        async: true, /* If set to non-async, browser shows page as "Loading.."*/
        cache: false,
        timeout: 1000, /* Timeout in ms */

        success: function(data){
            if(oLength != data.messages.length && !initialLoad)
            {
                oLength = data.messages.length;
                let user = users.users[data.messages[oLength - 1].user_id - 1];
                let time = data.messages[oLength - 1].message_time;

                addmsg(user.username, time, data.messages[oLength-1].body);
            }
            if(initialLoad)
            {
                oLength = data.messages.length;
                initialLoad = false;
            }
        //    addmsg(username, msgtime, body); /* Add response to a .msg div (with the "new" class)*/
            setTimeout(
                waitForMsg(oLength), /* Request next message */
                3000 /* ..after 1 seconds */
            );
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            setTimeout(
                waitForMsg(oLength), /* Try again after.. */
                1000); /* milliseconds (15seconds) */
        }
    });
};

$(document).ready(function(){
    initializeVars();
    waitForMsg(0); /* Start the inital request */
});
</script>


<% if @over_ten %>
 <%= link_to 'Show Previous', '?m=all' %>
<% end %>
<div class="ui segment" id="messages">
 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>
   <div class="item">
    <div class="content">
     <div class="header"><strong><%= user.username %></strong>     <%= message.message_time %></div>
      <div class="list">
       <div class="item">
        <i class="right triangle icon"></i>
         <%= message.body %>
      </div>
    </div>
   </div>
 </div>
 <% end %>
<% end %>
</div>
<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
 <div class="field">
   <%= f.text_area :body, class: "form-control" %>
 </div>
 <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
 <div>
   <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
 </div>
<% end %>
