<html>
  <head>
    <title>Mentorship</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/eb20c96418.js"></script>
  </head>
  <body>

  <!-- For the search area -->
  <!-- <%= form_tag(notes_path, :method => "get") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %> -->

  <div class="grid background">
    <!--Search Bar -->
    <%= form_tag(notes_path, :method => "get") do %>
      <div class="ui search big search-area">
        <div class="ui icon input input-area">
          <%= text_field_tag :search, params[:search], class: "prompt", placeholder: "Search for a class..." %>
          <button type="submit">
            <i class="fitted search icon big" id="search-icon"></i>
          </button>
        </div>
        <div class="results"></div>
      </div>
    <% end %>

  <!-- Filter Area -->
  <div class="filter-area">
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          Classes
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">CS 31</div>
            <div class="item">CS 32</div>
          </div>
        </div>
      </div>
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          Professor
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Smallberg</div>
            <div class="item">Nachenberg</div>
          </div>
        </div>
      </div>
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          Type
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Weekly Notes</div>
            <div class="item">Midterm Cheetsheet</div>
            <div class="item">Final Cheatsheet</div>
          </div>
        </div>
      </div>
       <div class="ui compact menu">
        <button id="trigger-new-note">NEW NOTE</button>
       </div>
    </div>

  <div class="grid-container">
    <div class="grid grid-notes">

       <!--<div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
          <h3 class="title">Title of card here</h3>
          <div class="more icons">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <i class="fa fa-download" aria-hidden="true"></i>
            <a href="#">PREVIEW</a> | <a href="#">DOWNLOAD</a>
          </div>
        </div>
       </div>-->
        <% @notes.each do |note| %>
        <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
          <h3 class="title"><%= note.title %></h3>
          <div class="more icons">
            <%= link_to note.ufile.url, target: :_blank do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
            <% end %>
            <%= link_to note.ufile.url, target: :_blank, download: 'note.pdf' do %>
            <i class="fa fa-download" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
       </div>
         <% end %>
         <!--
      <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>
       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>
       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>
       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>
       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>-->

    </div>
  </div>


<!--new note-->
<div class="modal-container hide new-note-modal-container">
  <div class="modal new-note-modal">

    <div class="modal-header">
      <h4 class="title"><i class="fa fa-sticky-note" aria-hidden="true"></i>&nbspNew Note</h4>
    </div>

    <div class="modal-field-content">


      <% if !@note.errors.empty? %>
        <div class="alert alert-error">

            <ul>
               <% @note.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
               <% end %>
            </ul>

         </div>
      <% end %>

      <div class="">
         <%= form_for @note, html: { multipart: true, class: 'ui form' } do |f| %>
          <div class="field">
            <%= f.text_field :title, :placeholder => "Title" %>
          </div>
          <div class="field">
            <%= f.text_field :uclaclass, :placeholder => "UCLA Class" %>
          </div>
          <div class="field">
            <%= f.text_field :author, :placeholder => "Author" %>
          </div>
          <div class="field">
            <%= f.text_field :notetype, :placeholder => "Note Type" %>
          </div>
          <div class="field">
            <%= f.file_field :ufile %>
          </div>
          <div class="submit">
            <%= f.submit "Save", class: "note-submit" %>
          </div>
         <% end %>
      </div>


    </div>

  </div>
  <div class="overlay" onClick="hideModal('new-note')"></div>
</div>
<!-- Login Modal -->
<div class="modal-container hide login-modal-container">
      <div class="modal login-modal">
        <div class="modal-header">
          <h4 class="title"><%= image_tag("icon-lock.svg", :class => "icon")%>&nbspLogin</h4>
          <p class="signup-link">Don't have an account?&nbsp
            <a class="item sign-up-trigger-modal"><span>Sign up</span></a>
        </div>

        <div class="modal-field-content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'ui form' }) do |f| %>
            <div class="field">
              <%= f.email_field :email, autofocus: true, placeholder: "Email"%>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field, ui checkbox">
                <%= f.check_box :remember_me%>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="submit">
                <div class="actions">
                  <%= f.submit "Log in", class: 'ui button login-submit'%>
                </div>

              <% end %>
            </div>
            <p class="password-reset-link"><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
        </div>
      </div>
      <div class="overlay" onClick="hideModal('login')"></div>
    </div>
  </div>

<!-- Signup Modal -->
<div class="modal-container hide sign-up-modal-container">
    <div class="modal sign-up-modal">
      <div class="modal-header">
        <h4 class="title"><%= image_tag("icon-lock.svg", :class => "icon")%>&nbspSign up</h4>
        <p class="signup-link">Already have an account?&nbsp
          <a class="item login-trigger-modal"><span>Log in</span></a>
      </div>

      <div class="modal-field-content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'ui form' }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation" %>
        </div>

          <div class="submit">
              <div class="actions">
                <%= f.submit "Create Account", class: 'ui button login-submit'%>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    <div class="overlay" onClick="hideModal('sign-up')"></div>
  </div>
</div>
</body>
</html>
