<html>
  <head>
    <title>Mentorship</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  </head>
  <body>


  <div class="grid-container">
    <div class="grid grid-notes">

       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
          <h3 class="title">Title of card here</h3>
          <div class="more icons">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <i class="fa fa-download" aria-hidden="true"></i>
          </div>
        </div>
       </div>
      <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>
       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>
       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>
       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>
       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>

    </div>
  </div>
  
<!--

<div class="notes-content">
  <% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>


  <%= link_to "New Note", new_note_path, class: "btn btn-primary" %>


  <% @notes.each do |note| %>
   <div>
      <p>Title: <%= note.title %></p>
      <p><%= link_to "Download Note", note.ufile.url %></p>
      <%= button_to "Delete",  note, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{note.title}?" %>
      <%= link_to "^", upvote_path, remote: true %>
      <div>
        <%= note.reputation %>
        <%= link_to "v", downvote_path, remote: true %>i
      </div>
   </div>
  <% end %>
-->
</div>


  </body>
</html>