<html>
  <head>
    <title>Mentorship</title>
    <script>
      function decrementRep() {
        document.getElementbyId("Rep").innerHTML = document.getElementById("Rep").innerHTML;
      }
      function incrementRep() {
        document.getElementbyId("Rep").innerHTML = typeof(document.getElementById("Rep").innerHTML) ;
      }
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  </head>
  <body>



  </body>
</html>


<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
<br />

<%= link_to "New Note", new_note_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Title</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @notes.each do |note| %>
         <tr>
            <td><%= note.title %></td>
            <td><%= link_to "Download Note", note.ufile.url %></td>
            <td><%= button_to "Delete",  note, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{note.title}?" %></td>
            <td onclick="changeNumber()"><%= link_to "^", upvote_path(note) %></td>
            <td id = "Rep" ><%= note.reputation %></td>
            <td><%= link_to "v", downvote_path %></td>
         </tr>

      <% end %>
   </tbody>

</table>
