<html>
  <head>
    <title>Mentorship</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/eb20c96418.js"></script>
  </head>
  <body>

  <div class="grid background">
    <!--Search Bar -->
    <%= form_tag(notes_path, :method => "get") do %>
      <div class="ui search big search-area">
        <div class="ui input input-area">
          <button type="submit" id="search-button" class="prompt"><%= image_tag("search.png") %></button>
          <%= text_field_tag :search, params[:search], class: "prompt", placeholder: "Search for a class..."%>
        </div>
      </div>
    <% end %>

  <!-- Filter Area -->
  <div class="filter-area">
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          <!-- trinary operator to set default or current search -->
          <%= params[:classes].present? ? params[:classes] : "Classes" %>
          <i class="dropdown icon"></i>
          <div class="menu">
            <!-- To have the previous search/filters compound, this passes all the current search terms even if null-->
            <%= link_to notes_path(search: params[:search], professor: params[:professor], type: params[:type]) do %>
              <div class="item" >All</div>
            <% end %>
            <%= link_to notes_path(classes: "CS 31", search: params[:search], professor: params[:professor], type: params[:type]) do %>
              <div class="item" >CS 31</div>
            <% end %>
            <%= link_to notes_path(classes: "CS 32", search: params[:search], professor: params[:professor], type: params[:type]) do %>
              <div class="item" >CS 32</div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          <%= params[:professor].present? ? params[:professor] : "Professor" %>
          <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to notes_path(search: params[:search], type: params[:type], classes: params[:classes]) do %>
              <div class="item">All</div>
            <% end %>
            <%= link_to notes_path(professor: "Smallberg", search: params[:search], type: params[:type], classes: params[:classes]) do %>
              <div class="item">Smallberg</div>
            <% end %>
            <%= link_to notes_path(professor: "Nachenberg", search: params[:search], type: params[:type], classes: params[:classes]) do %>
              <div class="item">Nachenberg</div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          <%= params[:type].present? ? params[:type] : "Type" %>
          <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to notes_path(search: params[:search], professor: params[:professor], classes: params[:classes]) do %>
              <div class="item">All</div>
            <% end %>
            <%= link_to notes_path(type: "Weekly Notes", search: params[:search], professor: params[:professor], classes: params[:classes]) do %>
              <div class="item">Weekly Notes</div>
            <% end %>
            <%= link_to notes_path(type: "Midterm Cheatsheet", search: params[:search], professor: params[:professor], classes: params[:classes]) do %>
              <div class="item">Midterm Cheatsheet</div>
            <% end %>
            <%= link_to notes_path(type: "Final Cheatsheet", search: params[:search], professor: params[:professor], classes: params[:classes]) do %>
              <div class="item">Final Cheatsheet</div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="ui compact menu">
        <%= link_to notes_path(search: params[:search]) do %>
        <div class="item">Clear All</div>
        <% end %>
      </div>
      <% if user_signed_in? %>
       <div class="ui compact menu">
        <div class="btn-main" id="trigger-new-note"><i class="fa fa-plus" aria-hidden="true"></i>&nbspNew Note</div>
       </div>
       <% end %>
    </div>


    <div class="grid-container">
      <div class="grid grid-notes">
        <% @notes.each do |note| %>
          <div class="col lg-6 md-6 sm-12">
            <div class="card grid-item">
              <div class="card-inner">
                <span class="class"><%= note.uclaclass %>| <%= note.professor %> | <%= note.notetype %> </span>
                <h3 class="title"><%= note.title %></h3>
                  <div class="reactions">
                    <% if user_signed_in? %>
                      <% if @user.upvotednotes.include?(note.id) %>
                        <%= link_to upvote_path(note) do %>
                          <div class="ui heart rating" data-rating="1" data-max-rating="1" onclick="incrementRep(1, <%= note.id %>)"></div>
                        <% end %>
                      <% else %>
                        <%= link_to upvote_path(note) do %>
                          <div class="ui heart rating" data-rating="0" data-max-rating="1" onclick="incrementRep(-1, <%= note.id %>)"></div>
                        <% end %>
                      <% end %>
                    <% else %>
                      <a class="item login-trigger-modal" >
                        <div class="ui heart rating" data-rating="1" data-max-rating="1" ></div>
                      </a>
                    <% end %>
                    <span id = "Rep<%= note.id %>"> <%= note.reputation %> </span>
                  </div>
              </div>

              <div class="hover-icons">
                <%= link_to note.ufile.url, target: :_blank, :class => "icon" do %>
                  <i class="fa fa-search-plus" aria-hidden="true"></i>
                <% end %>
                <%= link_to note.ufile.url, target: :_blank, download: 'note.pdf', :class => "icon"  do %>
                  <i class="fa fa-download" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>

          </div>

        <% end %>
      </div>
    </div>

<!-- How to change depending on if User is signed in -->

<!--
<% if user_signed_in? %>
<div> Hi, you are signed in <%= @user.email %></div>
<% else %>
<div> You are not signed in </div>
<% end %>
<%= link_to "New Note", new_note_path, class: "btn btn-primary" %>
-->

<!--new note-->
<div class="modal-container hide new-note-modal-container">
  <div class="modal new-note-modal">

    <div class="modal-header">
      <h4 class="title"><i class="fa fa-sticky-note" aria-hidden="true"></i>&nbspNew Note</h4>
    </div>

    <div class="modal-field-content">
      <% if !@note.errors.empty? %>
        <div class="alert alert-error">

            <ul>
               <% @note.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
               <% end %>
            </ul>

         </div>
      <% end %>

      <div class="">
         <%= form_for @note, html: { multipart: true, class: 'ui form' } do |f| %>
          <div class="field">
            <%= f.text_field :title, :placeholder => "Title" %>
          </div>
          <div class="field">
            <%= f.text_field :uclaclass, :placeholder => "UCLA Class" %>
          </div>
          <div class="field">
            <%= f.text_field :professor, :placeholder => "Professor" %>
          </div>
          <div class="field">
            <%= f.text_field :author, :placeholder => "Author" %>
          </div>
          <div class="field">
            <%= f.text_field :notetype, :placeholder => "Note Type" %>
          </div>
          <div class="field">
            <%= f.file_field :ufile %>
          </div>
          <div class="submit">
            <%= f.submit "Save", class: "note-submit" %>
          </div>
         <% end %>
      </div>


    </div>

  </div>
  <div class="overlay" onClick="hideModal('new-note')"></div>
</div>
</body>
</html>
