<html>
  <head>
    <title>Mentorship</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script>
      /*basically instead of dynamically updating the webpage using info from the database
      I'm posting to the database and then seperately having javascript logic change it
      */
      var isSignedIn = <%= user_signed_in? %>
      var currentVoteState = 0; //unintialized 0, 1 upvoted, -1 novote
      function incrementRep(initalState) {
        if (currentVoteState === 0) //only care about initialState when unintialized
          currentVoteState = initalState;

        if (isSignedIn) { //if not signed in do nothing
          if (currentVoteState === 1) { //if upvoted, then unupvote
            document.getElementById('Rep').innerHTML = String(Number(document.getElementById('Rep').innerHTML)-1);
            currentVoteState = -1;
            document.getElementById('upvoteButton').innerHTML = "^";
          }
          else { //upvote
            document.getElementById('Rep').innerHTML = String(Number(document.getElementById('Rep').innerHTML)+1);
            currentVoteState = 1;
            document.getElementById('upvoteButton').innerHTML = "v";
          }
        }
      }
    </script>
  </head>
  <body>

  <!-- For the search area -->
  <div class="grid background">
    <div class="ui search big search-area">
      <div class="ui icon input input-area">
        <i class="fitted search icon big" id="search-icon"></i>
        <input class="prompt" type="text" placeholder="Search for a class...">
      </div>
      <div class="results"></div>
    </div>
  <div class="filter-area">
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          Classes
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">CS 31</div>
            <div class="item">CS 32</div>
          </div>
        </div>
      </div>
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          Professor
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Smallberg</div>
            <div class="item">Nachenberg</div>
          </div>
        </div>
      </div>
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          Type
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Weekly Notes</div>
            <div class="item">Midterm Cheetsheet</div>
            <div class="item">Final Cheatsheet</div>
          </div>
        </div>
      </div>
       <div class="ui compact menu">
        <button id="trigger-new-note">NEW NOTE</button>
       </div>
    </div>

  <div class="grid-container">
    <div class="grid grid-notes">

       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
          <h3 class="title">Title of card here</h3>
          <div class="more icons">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <i class="fa fa-download" aria-hidden="true"></i>
          </div>
        </div>
       </div>
      <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>
       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>
       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>
       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>
       <div class="col lg-6 md-6 sm-12">
        <div class="card grid-item">
        </div>
       </div>

    </div>
  </div>

  <%= link_to "New Note", new_note_path, class: "btn btn-primary" %>

<br />

<!-- How to change depending on if User is signed in -->


<% if user_signed_in? %>
<div> Hi, you are signed in <%= @user.email %></div>
<% else %>
<div> You are not signed in </div>
<% end %>

<%= link_to "New Note", new_note_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Title</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @notes.each do |note| %>
         <tr>
            <td><%= note.title %></td>
            <td><%= link_to "Download Note", note.ufile.url %></td>
            <td><%= button_to "Delete",  note, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{note.title}?" %></td>
            <!--if signed in and didnt upvote it, allow upvoting. To input image as link, link_to image_tag("Search.png", border: 0), upvote_path....-->
            <td
              <% if user_signed_in? %>
                <% if @user.upvotednotes.include?(note.id) %>
                  onclick="incrementRep(1)">
                  <%= link_to "v", upvote_path(note), id: "upvoteButton" %>
                  <!-- change "v" to what you want someone who already upvoted note to see -->
                <% else %>
                  onclick="incrementRep(-1)">
                  <%= link_to "^", upvote_path(note), id: "upvoteButton" %>
                  <!-- change "^" to what you want someone who didnt vote it to see -->
                <% end %>
              <% else %> <!--put what you want someone not logged in to see here-->
                x
              <% end %>
            </td>
            <td id = "Rep" ><%= note.reputation %></td>
         </tr>
      <% end %>
   </tbody>
   </div>
</table>

<div class="modal-container hide new-note-modal-container">
  <div class="modal new-note-modal">

    <div class="modal-header">
      <h4 class="title"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>&nbspNew Note</h4>
    </div>

    <div class="modal-field-content">
     


    </div>

  </div>
  <div class="overlay" onClick="hideModal('new-note')"></div>
</div>
<div class="modal-container hide login-modal-container">

  <div class="modal login-modal">

    <div class="modal-header">
      <h4 class="title"><%= image_tag("icon-lock.svg", :class => "icon")%>&nbspLogin</h4>
      <p class="signup-link">Don't have an account?&nbsp<%= link_to "Sign up", new_registration_path(resource_name) %></p>
    </div>

    <div class="modal-field-content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'ui form' }) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "Email"%>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field, ui checkbox">
            <%= f.check_box :remember_me%>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="submit">
            <div class="actions">
              <%= f.submit "Log in", class: 'ui button login-submit', onclick: 'showModal();'%>
            </div>
            
          <% end %>
        </div>
        <p class="password-reset-link"><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
    </div>
  </div>
  <div class="overlay" onClick="hideModal('login')"></div>
</div>
</body>
</html>
