<html>
  <head>
    <title>Mentorship</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <meta name="viewport" content="width=device-width" />

    <style>
    header, .mentors-menu-container{display: none;}
    </style>

  </head>
  <body>
    
    <div class="modal sign-up-modal">
      <div class="modal-header">
        <h4 class="title"><%= image_tag("icon-lock.svg", :class => "icon")%>&nbspSign up</h4>
        <p class="signup-link">Already have an account?&nbsp
          <a href="/users/sign_in"><span>Log in</span></a>
      </div>

      <div class="modal-field-content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'ui form' }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.text_field :username, autofocus: true, placeholder: "Username" %>
        </div>

        <div class="field">
          <div class="note-to-user">*You must use your UCLA email to sign up</div>
          <%= f.email_field :email, autofocus: true, placeholder: "UCLA Email" %>
          
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation" %>
        </div>

          <div class="submit">
              <div class="actions">
                <%= f.submit "Create Account", class: 'ui button submit-btn'%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </body>
</html>