<html>
  <head>
    <title>Mentorship</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <meta name="viewport" content="width=device-width" />

    <style>
    header, .mentors-menu-container{display: none;}
    </style>

  </head>
  <body>

    <div class="modal forgot-password-modal">
        <div class="modal-header">
          <h4 class="title">Forgot Password</h4>
        </div>

        <div class="modal-field-content">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'ui form' }) do |f| %>
            <%= devise_error_messages! %>
            
            <div class="field">
              <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
            </div>

            <div class="submit">
              <div class="actions">
                <%= f.submit "Send password reset", class: 'ui button submit-btn' %>
              </div>
            </div>

          <% end %>
        </div>
      </div>
  </body>
</html>
