<div class="grid-container skills-in-progress skills-tab-content tab-content-custom toggleOff" id="item-<%= skill.id =%>">
    <div class="item">
      <%= link_to skill do %>
        <div class="skill-circle tab" id="tab-<%= skill.id =%>"><%= skill.topic[0] %></div>
      <% end %>
      <!-- <div class="divider"></div> -->
      <div class="skill-info">
        <div class="skill-name">
            <h4><%= skill.topic %>&nbsp;&nbsp;<span class="skill-percent"><%= skill.progress(@user.id) %>%</span></h4>
        </div>
        <div class="skill-progress-bar-outer">
          <div id="progress-circle-initial"></div>
          <div id="progress" style="width: <%= skill.progress(@user.id) %>%"></div>
        </div>
      </div>
    </div>
</div>
