<div class="skill-block tab-content-custom toggleOff" id="item-<%= skill.id =%>">

<% if user_signed_in? %>
    <div class="skill-box item">

<% else %>
    <div class="skill-box item save-progress-trigger-modal">
<% end %>
      <% if user_signed_in? %>
        <% skill_progress = skill.progress(@user.id) %>
        <%= link_to skill do %>
          <% if skill_progress == 100 %>
            <div class="skill-circle complete-circle tab" id="tab-<%= skill.id =%>"><%= skill.topic[0] %></div>
          <% elsif skill_progress > 0 %>
            <div class="skill-circle in-progress-circle tab" id="tab-<%= skill.id =%>"><%= skill.topic[0] %></div>
          <% else %>
            <div class="skill-circle tab" id="tab-<%= skill.id =%>"><%= skill.topic[0] %></div>
          <% end %>
        <% end %>
        <div class="skill-hide-when-toggle">
          <div class="skill-progress-label">
            <% if skill_progress == 100 %>
              <i class="label-done">DONE</i>
            <% elsif skill_progress > 0 %>
              <i class="label-in-progress">IN&nbsp;PROGRESS</i>
            <% else %>
              <i></i>
            <% end %>
          </div>
        </div>
        <div class="skill-name">
          <% if skill_progress == 100 %>
            <h4 class="skill-name-faded"><%= skill.topic %></h4>
          <% else %>
            <h4><%= skill.topic %></h4>
          <% end %>
        </div>
      <% else %>
        <div class="skill-circle tab" id="tab-<%= skill.id =%>"><%= skill.topic[0] %></div>
        <div class="skill-name">
            <h4><%= skill.topic %></h4>
        </div>
      <% end %>
    </div>
  <% if user_signed_in? %>
    <%= link_to skill do %>
    <div class="skill-pop-up">
        <h2 class="skill-percent"><%= skill_progress %>%</h2>
        <p class="skill-submit">Submitted by <%= skill.author %></p>
    </div>
    <% end %>
  <% end %>

    <div class="timeline-bar">
    </div>
</div>
