<p id="notice"><%= notice %></p>

<div class="skill-page-wrapper">

	<div class="carousel-nav side-left">
		<button class="reset button prev">
		  <i class="icon chevron left"></i>
		</button>
	</div>
	<div class="skill-carousel">

		<% @concepts.each do |concept|  %>
			<div class="skill-module">

				<div class="skills-content">
					<div class="skills-title"><%= @skill.topic %></div>
				</div>

				<div class="skills-content">
					<div class="skills-subtitle skills-header"><%= concept.name %></div>
					<div class="skills-content box">
            			<%= concept.description %>
					</div>

				</div>

				<div class="skills-content">
					<div class="skills-subtitle skills-header">Example</div>
					<div class="skills-content box">
			            <% concept.examples.each do |ex| %>
			              <%= ex %>
			            <% end %>
					</div>
				</div>

				<div class="skills-content">
					<div class="skills-subtitle skills-header">Practice</div>
					<div class="skills-content box">
<!-- <<<<<<< HEAD -->
			            <% concept.question.each do |q| %>
				            <div class="skills-practice">
				            	<span class="skills-header">Type: </span>
				            	<%= q.question_type %>
				            </div>
				            <div class="skills-practice">
				            	<span class="skills-header">Question: </span>
				            	<%= q.content %>
				            </div>
				            <form>
				                <% q.answers.each do |a| %>
				                	<!-- JORGE EDIT ME -->
				                	<!-- <div class="skills-correct"> -->
				                	<!-- <div class="skills-wrong"> -->
				                		<input type="radio"> <%= a %>
				                	</div>
				                <% end %>
			                </form>
			                
			                <% if q != concept.question.last %>
			                	<div class="skills-line"></div>
			                <% end %>
<!-- ======= -->
			            <% concept.question.each do |qst| %>
			              	<div class="skills-question-header">
				               <span>Type: <%= qst.question_type %></span>
				               <span>Question: <%= qst.content %></span>
				            </div>
										<%= form_tag("/check", remote: true, method: "get") do %>
											<!-- Define an i here to give each answer a number for checking -->
											<% i = 0 %>
											<%= hidden_field_tag(:question_id, qst.id) %>
											<% qst.answers.each do |a| %>
												<%= radio_button_tag(:answer, i) %>
												<%= label_tag(:answer, a) %>
												<br>
												<% i+=1 %>
				    					<% end %>
											<%= submit_tag("Submit") %>
				              <br>
				              <hr>
										<% end %>
<!-- >>>>>>> master -->
			            <% end %>
					</div>
				</div>
			</div>
		<% end %>

	</div>
	<div class="carousel-nav side-right">
		<button class="reset button next">
		  <i class="icon chevron right"></i>
		</button>
	</div>

</div>

<!--
<p>
  <strong>Difficulty:</strong>
  <%= @skill.difficulty %>
</p>

<p>
  <strong>Order:</strong>
  <%= @skill.order %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @skill.topic %>
</p>

<p>
  <strong>Author:</strong>
  <%= @skill.author %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @skill.progress %>
</p>

<p>
  <strong> Concepts:</strong>
  <%= @concepts.count %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %> -->
