<p id="notice"><%= notice %></p>

<div class="skill-page-wrapper">

	<div class="carousel-nav side-left">
		<button class="button prev">
		  <i class="huge icon chevron left"></i>
		</button>
	</div>
	<div class="skill-carousel">

		<% @concepts.each do |concept|  %>
			<div class="skill-module">

				<div class="skills-content">
					<div class="dark-small-subheader skills-title"><%= @skill.topic %></div>
				</div>

				<div class="skills-content">
					<div class="dark-small-subheader"><%= concept.name %></div>
					<div class="skills-content box">
            <%= concept.description %>
					</div>

				</div>

				<div class="skills-content">
					<div class="dark-small-subheader">Example</div>
					<div class="skills-content box">
            <% concept.examples.each do |ex| %>
              <%= ex %>
            <% end %>
					</div>
				</div>

				<div class="skills-content">
					<div class="dark-small-subheader">Practice</div>
					<div class="skills-content box">
            <% concept.questions.each do |q| %>
              <%= q %>
            <% end %>
					</div>
				</div>
			</div>
		<% end %>

	</div>
	<div class="carousel-nav side-right">
		<button class="button next">
		  <i class="huge icon chevron right"></i>
		</button>
	</div>

</div>

<!--
<p>
  <strong>Difficulty:</strong>
  <%= @skill.difficulty %>
</p>

<p>
  <strong>Order:</strong>
  <%= @skill.order %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @skill.topic %>
</p>

<p>
  <strong>Author:</strong>
  <%= @skill.author %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @skill.progress %>
</p>

<p>
  <strong> Concepts:</strong>
  <%= @concepts.count %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %> -->
