<div class="header-skill-wrapper">
	<div class="header">
	    <div class="progress-bar">
	    	<div id="progress-circle-initial"></div>
	        <div id="progress" style="width: 0%"></div>
	    </div>
	</div>
</div>
<p id="notice"><%= notice %></p>

<div class="skill-page-wrapper">

	<div class="carousel-nav side-left">
		<button class="reset button prev">
		  <i class="icon chevron left"></i>
		</button>
	</div>
	<div class="skill-carousel">

		<% @concepts.each do |concept|  %>
			<div class="skill-module">

				<div class="skills-content">
					<div class="skills-title"><%= @skill.topic %></div>
				</div>

				<div class="skills-content">
					<div class="skills-subtitle skills-header"><%= concept.name %></div>
					<div class="skills-content box">
            			<%= concept.description.html_safe %>
					</div>

				</div>

				<div class="skills-content">
					<div class="skills-subtitle skills-header">Example</div>
					<div class="skills-content box">
			            <% concept.examples.each do |ex| %>
			              <%= ex.html_safe %>
			            <% end %>
					</div>
				</div>

				<div class="skills-content">
					<div class="skills-subtitle skills-header">Practice</div>
					<div class="skills-content box">
			            <% concept.question.each do |q| %>
										<!-- Add if @user.progress.include?(q.id) to check if already answered -->
				            <div class="skills-practice">
				            	<span class="skills-header">Question: </span>
				            	<%= q.content.html_safe %>
				            </div>
										<!-- So quizzes work through the check method in the skills controller which
										checks the answer in the backend and redirects back to this page with params
										 indicating a question was just answered-->
				            <%= form_tag("/check", method: "get") do %>
											<% i = 0 %>
											<%= hidden_field_tag(:question_id, q.id) %>
											<%= hidden_field_tag(:id, @skill.id) %>
											<% q.answers.each do |a| %>
												<!-- Correct Answer(if just got it right, or once got it right) -->
												<% if @user.progress.include?(q.id) and i==q.final_answer%>
													<div class="skills-correct">
														<%= radio_button_tag(:answer, i, true) %>
														<%= label_tag(:answer, a) %>
													</div>
												<!-- Incorrect Answer -->
												<% else %>
													<% if %>
													<% i.to_s == params[:inputted_answer] and q.id.to_s == params[:answered_question]%>
														<div class="skills-wrong">
															<%= radio_button_tag(:answer, i, true) %>
															<%= label_tag(:answer, a) %>
														</div>
													<% else %>
													<!-- Default Answer -->
														<div class="skills-neutral">
															<%= radio_button_tag(:answer, i) %>
															<%= label_tag(:answer, a) %>
														</div>
													<% end %>
												<% end %>
												<% i+=1 %>
											<% end %>
								<% if !@user.progress.include?(q.id) %>
			                		<%= submit_tag("Submit", :class=>"btn-main")%>
			                	<% else %>

			                	<% end %>
											<% if q != concept.question.last %>
												<div class="skills-line"></div>
											<% end %>
			            	<% end %>
									<% end %>
					</div>
				</div>
			</div>
		<% end %>

	</div>
	<div class="carousel-nav side-right">
		<button class="reset button next">
		  <i class="icon chevron right"></i>
		</button>
	</div>

</div>
