<div class="profile-header">
  <div class="profile-content">
      <div class="profile-picture-large bg-image" style="background-image: url(<%= @user.image %>)"></div>
  </div>
  <div class="profile-content">
    <div class="username uppercase">
      <h2><%= @user.username %></h2>
    </div>
    <a class="item edit-profile-trigger-modal" >
        <span class="profile-item btn-main">Edit Profile</span>
    </a>
  </div>
</div>

  <div class="profile-content profile-tab-container">
  <!-- tabs -->
    <div class="profile-tab">
        <button class="reset profile-tab-links tab selected" id="tab-1">Badges</button>
        <button class="reset profile-tab-links tab" id="tab-2">Progress</button>
        <button class="reset profile-tab-links tab" id="tab-3">Messages</button>
    </div>

  <!-- tab content -->

    <div id="item-1" class="profile-tab-content tab-content-custom">
      <h3>Badges</h3>
      <!-- THIS IS WHERE MY CODE GOES -->
      <div id="badge-container" class="grid-container">
        <div class="grid">
          <% @skills.each do |skill| %>
            <% if skill.progress(@user.id) == 100 %>
            <div class="badge-block">
              <div class="badge">
                <div class="badge-name"><%= skill.topic[0] %></div>
                <div class="hover-block">
                  <%= link_to skill do %>
                  <%= skill.topic %>
                  <% end %>
                  <div class="triangle triangle-top">
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
           <% @skills.each do |skill| %>
            <% if skill.progress(@user.id) != 100 %>
            <div class="badge-block">
              <div class="badge incomplete">
                <div class="badge-name"><%= skill.topic[0] %></div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="item-2" class="profile-tab-content tab-content-custom hide">
      <h3>All Progress</h3>
      <div class="grid-container">
        <% @classes.each_with_index do |c, i| %>
          <a href="/skills?<%= @class_params[i].to_param %>">
            <div class="profile-progress-box">
              <p class="profile-progress-box-header"><%= c %></p>
              <p class="profile-progress-box-percent"><%= @user.class_progress(c)%>%</p>
              <div class="class-progress-bar-outer">
                <div id="progress-circle-initial"></div>
                  <div id="progress" style="width: <%= @user.class_progress(c)%>%"></div>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </div>

    <div id="item-3" class="profile-tab-content tab-content-custom hide">
      <h3>Messages</h3>
      <p>No conversations started.</p>
    </div>
  </div>
