<html>
  <head>
    <title>Mentorship</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag ('homepage.js') %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/eb20c96418.js"></script>
  </head>
<body>

  <div class="grid background">
    <div id="profile-picture-large"></div>
    <div class="dark-secondary positioned">Name</div>
    <div class="positioned"><%= link_to "Edit Profile", mentors_index_path, class:"btn-main profile-item"%></div>
    <div class="grid container">
      <div class="grid">
        <div class="col lg-4 positioned2">
          <span class="profile-item"><%= link_to "Profile", mentors_index_path, class:"no-click-hide"%></span>
          <span class="profile-item"><%= link_to "Skills", mentors_index_path, class:"no-click-hide"%></span>
          <span class="profile-item"><%= link_to "Progress", mentors_index_path, class:"no-click-hide"%></span>
          <span class="profile-item"><%= link_to "Messages", mentors_index_path, class:"no-click-hide"%></span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
