<!-- Header -->
<header>
      <!-- Navbar -->

        <div class="ui page grid" id="main-navbar">
        <div class="computer tablet only row">
            <div class="ui borderless fixed menu navbar navbar-main">
                <a href="/" class="logo-wrapper-link">
                    <%= image_tag("Pencil.png", class: "logo mobile-hidden" )%>
                    <%= image_tag("Logo.png", class: "logo") %> </a>

                <div class="right menu">
                    <%= link_to mentors_index_path, class:"item" do %>
                        <span>Mentors</span>
                    <% end %>
                    <%= link_to notes_path, class:"item" do %>
                        <span>Notes</span>
                    <% end %>
                    <%= link_to tutorials_index_path, class:"item" do %>
                        <span>Tutorials</span>
                    <% end %>
                     <% if user_signed_in? %> 
                            <a class="item profile-trigger-modal">
                                <div id="profile-btn"></div>
                            </a>

                            <div class="profile profile-modal hide no-click-hide">
                                <div class="profile-arrow-up no-click-hide"></div>
                                <div class="profile-arrow-up no-shadow no-click-hide"></div>
                                <div class="modal-header table no-click-hide">
                                    <div id="profile-picture" class="profile-item table no-click-hide"></div>
                                    <div class="profile-item right short no-click-hide"><%= User.find_by(id: current_user.id).username %></div>
                                    <div class="profile-item right short"><%= link_to "Profile", profile_index_path, class:"no-click-hide"%></div>
                                </div>
                                
                                <div class="modal-field-content padded no-click-hide">
                                    <hr>
                                    <div class="profile-item"><%= link_to "My Account", mentors_index_path, class:"no-click-hide"%></div>
                                    <div class="profile-item"><%= link_to "Help", notes_path, class:"no-click-hide"%></div>
                                     <% if user_signed_in? %> 
                                        <div class="profile-item"><%= link_to destroy_user_session_path, method: :delete, class:"no-click-hide" do %></div>
                                            <span class="profile-item no-click-hide">LOG out</span>
                                    <% end %>
                                </div>
                                   
                                    
                                
                            </div>
                            
                    <% end %>
                    
                    <% else %>
                        <a class="item login-trigger-modal" >
                            <span class="login btn-main">LOG in</span>
                        </a>
                    <% end %>
                </div>
            </div>

        </div>
        <div class="mobile only narrow row">
            <div class="ui fixed menu navbar">
                <div class="ui middle aligned image logo-wrapper-link">
                  <a href="/"><%= image_tag("Pencil.png") %> </a>
                </div>
                <div class="right menu open">
                    <a href="" class="menu item">
                        <i id="chevron" class="chevron down icon"></i>
                    </a>
                </div>
            </div>
            <div id="mobile-menu" class="ui borderless vertical fixed navbar menu shadow">
                <div class="menu">
                    <%= link_to "Mentors", mentors_index_path, class:"item"%>
                    <%= link_to "Notes", notes_path, class:"item"%>
                    <%= link_to "Tutorials", tutorials_index_path, class:"item"%>
                    <% if user_signed_in? %> 
                         <%= link_to destroy_user_session_path, method: :delete, class:"item" do %>
                            Logout
                         <% end %>
                    <% else %>
                        <a class="item" id="login-trigger-modal">Login</a>
                    <% end %>
                </div>
            </div>
        </div>

</header>
