<!-- Header -->
<header>
      <!-- Navbar -->

        <div class="ui page grid" id="main-navbar">
        <div class="computer tablet only row">
            <div class="ui borderless fixed menu navbar navbar-main">
                <a href="/" class="logo-wrapper-link">
                    <%= image_tag("logo-blue-lg.png", class: "logo" )%>
                </a>
                 <%= link_to notes_path, class:"item notes-link" do %>
                    <span>Notes</span>
                <% end %>
                <%= link_to skills_index_path, class:"item skills-link" do %>
                    <span>Skills</span>
                <% end %>

                <div class="right menu">
                     <% if user_signed_in? %>
                            <a class="item profile-trigger-modal">
                                <div class="username"><%= @user.username %></div>
                                <div id="profile-btn" class="bg-image" style="background-image: url(<%= @user.image %>)"></div>
                            </a>
                            <div class="profile profile-modal hide no-click-hide">
                            <!-- White arrow at top -->
                                <div class="profile-arrow-up no-click-hide"></div>
                                <div class="profile-arrow-up no-shadow no-click-hide"></div>
                            <!-- .................. -->

                                <div class="grid-container no-click-hide">
                                    <div class="grid no-click-hide">
                                        <div class="row profile-item-wrapper">
                                            <%= link_to profile_index_path, class:"no-click-hide" do%>
                                                    <div class="col lg-8 md-8 sm-8 profile-item icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                                    <div class="col lg-16 md-16 sm-16 profile-item content">Profile</div>
                                            <% end %>
                                        </div>
                                        <div class="row profile-item-wrapper">
                                            <%= link_to mentors_index_path, class:"no-click-hide" do%>
                                                <div class="col lg-8 md-8 sm-8 profile-item icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                                <div class="col lg-16 md-16 sm-16 profile-item content">My Acct</div>
                                            <% end %>
                                        </div>
                                        <div class="row profile-item-wrapper">
                                            <%= link_to mentors_index_path, class:"no-click-hide" do%>
                                                <div class="col lg-8 md-8 sm-8 profile-item icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                                <div class="col lg-16 md-16 sm-16 profile-item content">Help</div>
                                            <% end %>
                                        </div>
                                        <div class="row profile-item-wrapper">
                                            <% if user_signed_in? %>
                                            <div class="profile-item"><%= link_to destroy_user_session_path, method: :delete, class:"no-click-hide" do %></div>
                                                <div class="col lg-8 md-8 sm-8 profile-item icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                                <div class="col lg-16 md-16 sm-16 profile-item content">Log Out</div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>  
                            </div>

                    <% end %>

                    <% else %>
                        <a class="item login-trigger-modal" >
                            <span class="login btn-main">Login</span>
                        </a>
                    <% end %>
                </div>
            </div>

        </div>
        <div class="mobile only narrow row">
            <div class="ui fixed menu navbar">
                <div class="ui middle aligned image logo-wrapper-link">
                  <a href="/" class="logo-wrapper-link">
                    <%= image_tag("logo-blue-lg.png", class: "logo" )%>
                </a>
                </div>
                <div class="right menu open">
                    <a href="" class="menu item">
                        <i id="chevron" class="chevron down icon"></i>
                    </a>
                </div>
            </div>
            <div id="mobile-menu" class="ui borderless vertical fixed navbar menu shadow">
                <div class="menu">
                   <!-- <%= link_to "Mentors", mentors_index_path, class:"item"%>-->
                    <%= link_to "Notes", notes_path, class:"item"%>
                    <%= link_to "Skills", skills_index_path, class:"item"%>
                    <% if user_signed_in? %>
                         <%= link_to destroy_user_session_path, method: :delete, class:"item" do %>
                            Logout
                         <% end %>
                    <% else %>
                        <a class="item" id="login-trigger-modal">Login</a>
                    <% end %>
                </div>
            </div>
        </div>

</header>
