<footer>
  <!-- Login Modal -->
  <div class="modal-container hide login-modal-container">
        <div class="modal login-modal">
          <div class="modal-header">
            <h4 class="title"><%= image_tag("icon-lock.svg", :class => "icon")%>&nbspLogin</h4>
            <p class="signup-link">Don't have an account?&nbsp
              <a class="item sign-up-trigger-modal"><span>Sign up</span></a>
          </div>

          <div class="modal-field-content">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'ui form' }) do |f| %>
              <div class="field">
                <%= f.email_field :email, autofocus: true, placeholder: "UCLA Email"%>
              </div>

              <div class="field">
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="field, ui checkbox">
                  <%= f.check_box :remember_me%>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>

              <div class="submit">
                  <div class="actions">
                    <%= f.submit "Log in", class: 'ui button submit-btn'%>
                  </div>

                <% end %>
              </div>
              <p class="password-reset-link"><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
          </div>
        </div>
        <div class="overlay" onClick="hideModal('login')"></div>
      </div>


  <!-- Signup Modal -->
  <div class="modal-container hide sign-up-modal-container">
      <div class="modal sign-up-modal">
        <div class="modal-header">
          <h4 class="title"><%= image_tag("icon-lock.svg", :class => "icon")%>&nbspSign up</h4>
          <p class="signup-link">Already have an account?&nbsp
            <a class="item login-trigger-modal"><span>Log in</span></a>
        </div>

        <div class="modal-field-content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'ui form' }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.text_field :username, autofocus: true, placeholder: "Username" %>
          </div>

          <div class="field">
            <div class="note-to-user">*You must use your UCLA email to sign up</div>
            <%= f.email_field :email, autofocus: true, placeholder: "UCLA Email" %>
          </div>

          <div class="field">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation" %>
          </div>

            <div class="submit">
                <div class="actions">
                  <%= f.submit "Create Account", class: 'ui button submit-btn'%>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <div class="overlay" onClick="hideModal('sign-up')"></div>
    </div>

  <!-- Open chat with Mentor -->
  <div class="modal-container hide mentor-modal-container">
      <div class="modal mentor-modal">
        <div class="modal-header">
          <div class="modal_mentor_pic">
            <%= image_tag("shrink.jpg", :class => "ui circular image")%>
          </div>

          <div class="modal_mentor_char">
            <div class="modal_mentor_name">
              Austin Lee
            </div>
            <div class="modal_mentor_rating">
              Rating: 1,234
            </div>
          </div>
        </div>
        <div class="modal-field-content">
          <div class="modal_mentor_bio">
            &nbsp&nbsp&nbsp&nbspLorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque in quam neque. Morbi maximus sem a turpis aliquam bibendum.
            Donec iaculis mattis dictum. Sed vitae egestas lorem. Aenean ut orci id
            libero rutrum condimentum
          </div>
          <div class="chat_modal">
            <div class="ui buttons">
              <button class="ui positive button modal_mentor_accept">Accept</button>
              <div class="or"></div>
              <button class="ui button modal_mentor_decline">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay" onClick="hideModal('mentor')"></div>
    </div>

    <!-- Edit Profile Modal -->
    <div class="modal-container hide edit-profile-modal-container">
        <div class="modal edit-profile-modal">
              <div class="modal-header">
                <h4 class="title">Change your Password</h4>
              </div>

              <div class="modal-field-content">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'ui form', method: :put }) do |f| %>
                <%= devise_error_messages! %>
                <%= f.hidden_field :reset_password_token %>

                <div class="field">
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                  <% end %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "New Password" %>
                </div>

                <div class="field">
                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password" %>
                </div>
                <div class="submit">
                  <div class="actions">
                    <%= f.submit "Change my password", class: 'ui button submit-btn' %>
                  </div>

                <% end %>
                </div>
              <!-- asdfasdfadsafadf-->


          </div>
        </div>
        <div class="overlay" onClick="hideModal('edit-profile')"></div>
      </div>
</footer>
