<!DOCTYPE html>
<html>
  <head>
    <title>Mentorship</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />



    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/eb20c96418.js"></script>
  </head>

  <% if request.env['PATH_INFO'].include? "notes" %>
      <body id="notes-page">
  <% else %>
      <% if request.env['PATH_INFO'].include? "skills" %>
        <body id="skills-page">
      <% else %>
        <body>
      <% end %>
  <% end %>

    <% if request.env['PATH_INFO'].include? "skills" and !request.env['PATH_INFO'].include? "index" %>
      <%= render 'layouts/header-skill' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>

    <% if request.env['PATH_INFO'] != '/' %>
      <%= render 'layouts/mentors-menu' %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



    <% if request.env['PATH_INFO'].include? "notes" %>
      <div class="container notes-container">
    <% else %>
      <% if request.env['PATH_INFO'].include? "skills" %>
        <% if request.env['PATH_INFO'] =~ /\d/ %>
          <div class="container skills-container-item">
        <% else %>
          <div class="container skills-container">
        <% end %>
      <% else %>
        <div class="container">
      <% end %>
    <% end %>

    <%= yield %>
    </div>
    <%= render 'layouts/modals' %>
  </body>
</html>
