<!DOCTYPE html>
<html>
  <head>
    <title>Mentorship</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/eb20c96418.js"></script>
  </head>

  <body>

    <% if request.env['PATH_INFO'] != '/skills/1' %>
      <%= render 'layouts/header' %>
    <% else %>
      <%= render 'layouts/header-skill' %>
    <% end %>

    <% if request.env['PATH_INFO'] != '/' %>
      <%= render 'layouts/mentors-menu' %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
    <%= yield %>
    </div>
    <%= render 'layouts/modals' %>
  </body>
</html>
